
html {
  color: #333;
  background: #fde4c5;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
}

h1 {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  font-size: 4em;
  text-align: center;
  margin: 3rem 0;
}

*,
:before,
:after {
  box-sizing: inherit;
}

@media (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

@keyframes fadeIn {
  from { opacity: 0; } 
  to { opacity: 1; }
}

section.welcome div.intro {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  text-align: center;
  font-size: 4em;
  margin: 3rem 0;
  animation: fadeIn 1s 0.5s;
  animation-fill-mode: both;
}

section.welcome h1 {
  font-size: 7em;
  animation: fadeIn 1s 1s;
  animation-fill-mode: both;
}

section.welcome main {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

section.welcome img {
  display: block;
  width: 40%;
  margin: auto;
}

@media (max-width: 800px) {
  section.welcome main {
    display: block;
  }
  section.welcome img {
    width: 80%;
  }
}

section.welcome time {
  display: block;
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  font-size: 3em;
  text-align: center;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: both;
}

section.welcome p {
  font-size: 2em;
  text-align: center;
  margin: 3rem auto;
  max-width: 600px;
}

section.welcome p,
section.welcome img {
  animation: fadeIn 1s 2s;
  animation-fill-mode: both;
}

.button,
button.ui.button,
button {
  font-family: 'Cormorant Unicase', serif;
  font-weight: 700;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background: #d4b58e;
  border-radius: 0;
}

.button:hover,
button.ui.button:hover,
button:hover {
  background: #b09067;
}

.button:focus,
button.ui.button:focus,
button:focus {
  background: #d4b58e;
}

.button:active,
button.ui.button:active,
button:active {
  background: #9e815b;
}

section.rules h1 {
  font-size: 5em;
}

section.rules p {
  max-width: 600px;
  margin: 3rem auto;
  font-family: 'Cormorant Unicase', serif;
  font-size: 2.2rem;
  text-align: center;
}

section.rules ul {
  max-width: 600px;
  margin: 3rem auto;
  font-size: 1.5rem;
}

section.rules img {
  display: block;
  width: 70%;
  margin: auto;
  float: right;
  shape-outside: url('/bat@0,25x.png');
}

@media (min-width: 800px) {
  section.rules img {
    margin-right: -100px;
  }
}

section.rules li {
  margin: 1rem 0;
}

section.form form.ui {
  font-size: 1.3rem;
  max-width: 600px;
  margin: auto;
  padding-bottom: 5rem;
}

section.form form.ui .field {
  margin-bottom: 1rem;
}

section.form .ui.radio {
  display: block;
}

section.form form.ui input {
  width: calc(100% - 8px);
  font-family: 'Cormorant Unicase', serif !important;
}

section.form .field.text {
  margin: 2rem 0 1rem;
}

section.form .text.field > label,
section.form .ui.form > label,
section.form .label {
  display: block;
  font-weight: bold;
  margin: 2rem 0 1rem;
}

section.form .ticket-incrementer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: .8rem 0 3rem;
}

section.form .ticket-incrementer .number {
  min-width: 50px;
}

section.form .ticket-incrementer .button {
  display: flex;
  padding: 1rem;
  line-height: 1;
  margin: 0 1rem;
}

section.form .ticket-incrementer i {
  display: block;
  font-size: 1.2rem;
}

section.form .ticket-incrementer i:after {
  display: block;
}

section.form .cost {
  font-weight: bold;
  margin: 1rem 0 2rem;
}

section.form button.ui.button.loading {
  pointer-events: none;
}

section.payment {
  max-width: 600px;
  margin: auto;
}

section.payment p {
  font-weight: bold;
}

section.payment > * {
  margin: 2rem 0;
}

section.payment table {
  border: 0;
  border-spacing: 0;
}
section.payment td {
  padding: 0 0.8rem;
}
section.payment td:first-child {
  padding-left: 0;
  font-weight: bold;
}

section.payment iframe {
  width: calc(100% - 8px);
  height: 300px;
  border: 0;
}


div.list {
  max-width: 600px;
  margin: auto;
}

